<template>
    <div v-if="displayMode === 'button' || displayMode === 'logoutButton'">
        <button @click="doLoginLogout">{{$t(this.label)}}</button>
        {{this.name}}
    </div>
    <div v-else-if="displayMode === 'page'">
        <table>
            <tr>
                <td>{{$t('auth.username')}}</td>
                <td><input v-model="basicUsername" type="text" :disabled=isBasicDisabled /></td>
            </tr>
            <tr>
                <td>{{$t('auth.password')}}</td>
                <td><input v-model="basicPassword" type="password" :disabled=isBasicDisabled /></td>
            </tr>
            <tr>
                <td>{{this.name}}</td>
                <td><button @click="doBasicLoginLogout">{{$t(this.label)}}</button></td>
            </tr>
        </table>
    </div>
    <p v-else>{{displayMode}}</p>
</template>

<script>

export default {
    name: 'PBAuth',
    data: () => ({
        label: "auth.error",
        name: null,
        basicUsername: null,
        basicPassword: null,
        isBasicDisabled: false
    }),
    props: {
        displayMode: { 
            type: String, 
            required: true,
            validator: function(value) {
                var res = ['button', 'logoutButton', 'buttonHidden', 'page'].indexOf(value) !== -1;
                if (!res) {
                    console.warn(`prop 'type' must be in ['button', 'logoutButton', 'buttonHidden', 'page'] but '${value}' found`);
                }
                return res;
            }
        }
    },
    async mounted () {
        if (this.displayMode !== 'page') {
            var thisKc = this.$store.state.pbapi.keycloak;
            await thisKc.init({
                onLoad : 'check-sso',
                //promiseType : 'native', //Do not set!!! Logic will change fundamentally, e.g. onAuthSuccess will not be visited
                enableLogging : true,
                //flow : 'standard',
				pkceMethod : 'S256'});
            this.doLog('keycloak.init');
            if (thisKc.authenticated) {
                this.label = "auth.logout";
                this.name = this.$store.state.pbapi.keycloak.tokenParsed.name;
            }
            else {
                this.label = "auth.login";
                this.name = null;
            }
            var that = this;
            thisKc.onAuthSuccess = function() { 
                that.doLog('onAuthSuccess'); 
                that.label = "auth.logout";
                that.name = that.$store.state.pbapi.keycloak.tokenParsed.name };
            thisKc.onAuthLogout = function() { 
                that.doLog('onAuthLogout'); 
                that.label = "auth.login";
                that.name = null };
            thisKc.onTokenExpired = function() { 
                that.doLog('onTokenExpired'); 
                that.$store.state.pbapi.keycloak.updateToken() };
            if ((this.displayMode === 'logoutButton' || this.displayMode === 'buttonHidden') 
                    && !thisKc.authenticated) {
                thisKc.login(this.loginLogoutOptions());
            }
        }
        else {
            this.label = "auth.login";
        }
    },
    async beforeDestroy() {
        var thisKc = this.$store.state.pbapi.keycloak;
        if (thisKc.authenticated) {
            await thisKc.logout(this.loginLogoutOptions());
        }
    },
    methods: {
        doLoginLogout() {
            var thisKc = this.$store.state.pbapi.keycloak;
            if (thisKc.authenticated) {
                thisKc.logout(this.loginLogoutOptions());
            }
            else {
                thisKc.login(this.loginLogoutOptions());
            }
        },
        doBasicLoginLogout() {
            var credential = {
                "username": this.basicUsername,
                "password": this.basicPassword
            }
            this.$store.commit('pbapi/basicCredential', credential);
            if (this.label == "auth.login") {
                this.label = "auth.logout";
                this.isBasicDisabled = true;
                this.name = this.$store.state.pbapi.username;
            }
            else {
                this.$store.commit('pbapi/basicCredential', credential);
                this.label = "auth.login";
                this.isBasicDisabled = false;
                this.name = null;
            }
            this.basicUsername = null;
            this.basicPassword = null;
        },
        doLog(message) {
            console.log('[PBAuth] ' + message);
        },
        loginLogoutOptions() {
            return {
                locale : this.$i18n.locale,
                kcLocale : this.$i18n.locale
            };
        }
    }
}
</script>

