<template>
  <div class="container">
    <LineChartBase
      v-if="loaded"
      :chartdata="chartdata"
      :options="options"/>
  </div>
</template>

<script>
import LineChartBase from './LineChartBase.vue'
import axios from 'axios'

export default {
  name: 'LineChart',
  components: { LineChartBase },
  data: () => ({
    loaded: false,
    chartdata: null
  }),
  async mounted () {
    this.loaded = false
    try {
      const payload = { 'name': 'xy' };
      const testdata = await axios.post(process.env.VUE_APP_PB_PUBLIC_202009_INTF + "/chartTest", payload)
      /*const { testdata } = await fetch(process.env.VUE_APP_PB_PUBLIC_202009_INTF + "/chartTest", {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)}
      )*/
      //const test = testdata.data
      //test.datasets[0].backgroundColor = '#A11287'
      //test.datasets[0].tension = 0
      this.chartdata = testdata.data
      this.options = {
        responsive: true,
        maintainAspectRatio: false
      }
      this.loaded = true
    } catch (e) {
      console.error(e)
    }
  }
}
</script>
