<template>
    <div>Test interface /api/rest2/protected/asset/2021-11
        <button type="submit" id="submit" :disabled="denySubmit" v-on:click="submit()">{{$t("submit")}}</button>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    methods: {
        submit: function() {
            const config = { 
                "headers" : {
                    'accept': "application/json",
                    'Authorization': this.$store.getters['pbapi/authorization']
                }
            }
            //const url = "http://149.81.180.82:8080/api/rest/protected/tiny/2020-12/assets";
            const url = "http://149.81.180.82:8080/api/rest2/protected/asset/2021-11";
            //axios.post(url, '{}', config)
            axios.get(url, config)
                .then((response) => { alert(JSON.stringify(response.data)); this.fired = response.status == 200; })
                .catch((error) => console.log(error));
        }
    }
}
</script>