<template>
    <div>
        <div>
            <label for="camselect">{{$t('intercom.select')}}</label>
            <select name="camselect" id="camselect" ref="camselect" :disabled=calling v-model="selectedCam">
                <option v-for="cam in cams" v-bind:key="cam.id" v-bind:value="cam">{{cam.name}}</option>
            </select> 
            <button id="call" ref="call" :disabled=callingOrNoSrc @click="onCall">{{$t('intercom.call')}}</button>
            <button id="hangUp" ref="hangUp" :disabled=!calling @click="onHangUp">{{$t('intercom.hangUp')}}</button>
        </div>
        <div>
            <video id="video" ref="video" width="320" height="240">
                <source :src="vidUrl" :type="vidType"/>
                Your browser does not support the video tag.
            </video>
            <img id="video2" ref="video2" width="320" height="240" source :src="vidUrl2">
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from 'axios'
import VueCookies from 'vue-cookies';

Vue.use(VueCookies);

export default { 
    name: "Intercom",
    props: {
        /**
         * Add some test videos 
         */
        demo: {
            type: Boolean,
            default: false
        },
        /**
         * snap, mjpeg, mjpeg2, mxjpeg
         */
        jpeg: {
            type: String,
            default: 'mjpeg'
        }
    },
    data: function() {
        return { 
            calling: false,
            vidUrl: "",
            vidUrl2: "",
            vidType: "",
            selectedCam: null,
            cams: [
                { id: -2, name: "Rabbit", srcUrl: "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4",
                    srcType: "video/mp4" },
                { id: -1, name: "Elephant", srcUrl: "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4",
                    srcType: "video/mp4" }
            ]
        }
    },
    methods: {
        onCall() {
            this.calling = true;
            if (this.selectedCam != null) {
                if (this.selectedCam.srcUrl == null) {
                    axios.get(process.env.VUE_APP_PB_INTERCOM_202201_INTF + "/start",
                        {auth: {username: 'PBAdmin', password: 'qwertz'}, params: { station: this.selectedCam.id }})
                        .then((response) => {                            
                            this.$refs.video.style.display = "none";
                            this.$refs.video2.style.display = "inline";
                            console.log("prop jpeg = " + this.jpeg);
                            if (this.jpeg == "snap") {
                                this.vidUrl2 = response.data.jpegUrl;
                            }
                            else if (this.jpeg == "mjpeg2") {
                                this.vidUrl2 = response.data.mjpegUrl2;
                            }
                            else if (this.jpeg == "mxpeg") {
                                this.vidUrl2 = response.data.mxpegUrl;
                            }                             
                            else {
                                this.vidUrl2 = response.data.mjpegUrl;
                            }
                        })
                        .catch((error) => console.log(error));
                }
                else {
                    this.vidUrl = this.selectedCam.srcUrl;
                    this.vidType = this.selectedCam.srcType;
                    var vid = this.$refs.video;
                    vid.load();
                    vid.play();
                }
            }
            else {
                alert("Debug: no cam selected")
            }
        },
        onHangUp() {
            this.$refs.video.style.display = "inline";
            this.$refs.video2.style.display = "none";
            
            console.log(this.$cookies.keys()); 
            
            this.vidUrl = "";
            this.vidUrl2 = "";
            this.vidType = "";
            var vid = this.$refs.video;
            vid.load();
            vid.pause();
            this.calling = false;
        }
    },
    computed: {
        callingOrNoSrc: function() {
            return this.calling || this.selectedCam == null;
        },
        vid2: function() {
            return this.vid1 == "inline" ? "none" : "inline";
        }
    },
    created() {
        console.log("prop demo = " + this.demo);
        if (!this.demo) {
            this.cams.length = 0;
        }
        axios.get(process.env.VUE_APP_PB_INTERCOM_202201_INTF + "/stations",
                {auth: {username: 'PBAdmin', password: 'qwertz'}})
            .then((response) => { response.data.forEach(item => this.cams.push(item)); })
            .catch((error) => console.log(error));
    }
}

</script>

<style scoped>
video#video {
    background-color: WhiteSmoke
}
img#video2 {
    display: none;
    background-color: WhiteSmoke
}
</style>