<template>
    <table class="publicReport">
        <tr>
            <td><label for="firstName">{{$t("publicReport.firstName")}}</label></td>
            <td><input id="firstName" name="firstName" v-model="firstName"></td>
        </tr>
        <tr>
            <td><label for="lastName">{{$t("publicReport.lastName")}}</label></td>
            <td><input id="lastName" name="lastName" v-model="lastName"></td>
        </tr>
        <tr>
            <td><label for="email">{{$t("publicReport.email")}}</label></td>
            <td><input type="email" id="email" name="email" v-model="email"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" id="submit" :disabled="denySubmit" v-on:click="submit()">{{$t("publicReport.submit")}}</button>
            </td>
        </tr>
        <tr>
           <td hidden="true">{{type}}</td>
           <td hidden="true">fired = {{fired}}</td>
        </tr>
        <tr>
           <td colspan="2" hidden="true">{{itemIds}}</td>
        </tr>
    </table>
</template>

<script>
import axios from 'axios'

export default {
    name: 'PublicReport',
    data: function() {
        return {
            firstName: '',
            lastName: '',
            email: '',
            fired: false
        }
    },
    computed: {
        denySubmit: function() {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return !re.test(this.email) || this.fired;
        }
    },
    props: {
         type: { 
            type: String, 
            required: true,
            validator: function(value) {
                var res = ['room', 'ROOM'].indexOf(value) !== -1;
                if (!res) {
                    console.warn(`prop 'type' must be in ['room', 'ROOM'] but '${value}' found`);
                }
                return res;
            }
        },
        itemIds: { 
            type: Array, 
            required: true,
            validator: function(value) {
                var res = value.length > 0;
                if (!res) {
                    console.warn("prop 'itemIds' should contain at least 1 item");
                }
                return res;
            } 
        }
    },
    watch: {
        itemIds: function() {
            this.fired = false;
        }
    },
    methods: {
        submit: function() {
            const payload = {
                    'firstName': this.firstName,
                    'lastName': this.lastName,
                    'email': this.email,
                    'type': this.type,
                    'itemIds': this.itemIds
            };
            axios.post(process.env.VUE_APP_PB_PUBLIC_202009_INTF + "/report", payload)
                .then((response) => { console.log(response.data); this.fired = response.status == 200; })
                .catch((error) => console.log(error));
        }
    }
}
</script>