<template>
  <CRUDGrid :frozenColCount="6" :dataArray="records" :itemsPerPage="itemsPerPage">
    <template v-slot:columns>
      <!-- multiple header -->
      <c-grid-column-group
        :caption="$t('account')">
        <c-grid-column
          field="login"
          :caption = "$t('login')"
          width= "15%"
          min-width="100"
        />
        <c-grid-check-column
          field="userOperator"
          :caption = "$t('userOperator')"
          width="7%">
        </c-grid-check-column>
      </c-grid-column-group>
      <!-- multiple header -->
      <c-grid-column-group
        :caption="$t('name')">
        <c-grid-input-column
          field="firstName"
          :caption="$t('firstName')"
          width="11%"
          min-width="100"
        />
        <c-grid-input-column
          field="lastName"
          :caption="$t('lastName')"
          width= "11%"
          min-width="100"
        />
      </c-grid-column-group>
      <!-- multiple header -->
      <c-grid-column-group
        :caption="$t('connectionData')">
        <c-grid-input-column
          field="email"
          :caption="$t('email')"
          width="15%"
          min-width="150"/>
        <c-grid-input-column
          field="mobilePhone"
          :caption="$t('mobilePhone')"
          width= "8%"
          min-width="150"/>
        <c-grid-input-column
          field="phone"
          :caption="$t('phone')"
          width= "8%"
          min-width="150"/>
      </c-grid-column-group>
    </template>
  </CRUDGrid>
</template>

<script>
//import Vue from 'vue'
import CRUDGrid from './abstract/CRUDGrid.vue'

export default {
  name: "SimpleUserGrid",
  components: {
    CRUDGrid
  },
  data: function () {
    return {
      records: [{'firstName': 'Hans', "lastName": "Dampf", "login": "hd_login", 
              'email': 'hd@atrai.jp', 'phone': '+49 6332 44100',
              'mobilePhone': '+41 79 813 55 79', "userOperator": "false"}]
    }
  },
  props: {
    itemsPerPage: {
      type: Number,
      default: 25
    }
  }
}
</script>