<template>
    <div>{{now}} | {{timeZoneName}} | {{timeZoneAbbr}} | {{timeZone}}</div>
</template>

<script>
import moment from 'moment-timezone'

export default {
    name: 'myComponent', 
    computed: {
        now: function() {
            moment.locale(this.$i18n.locale);
            return moment().format('L LT');
        },
        timeZoneAbbr: function() {
            moment.locale(this.$i18n.locale);
            var tzx = moment.tz.guess();
            return moment.tz([2020, 7], tzx).zoneAbbr();
        },
        timeZoneName: function() {
            /*moment.locale(this.$i18n.locale);
            var tzx = moment.tz.guess();
            return moment.tz([2020, 7], tzx).zoneName();*/
            //moment.tz.setDefault("America/New_York");
            return moment.tz([2020, 7], "America/New_York").zoneName();
        },
        timeZone: function() {
            return moment.tz.guess();
        }
    }
}
</script>