<template>
<div>
  <button @click="onAddRecord">+</button>
  <div class="crud-grid">
    <c-grid
    ref="grid"
    :data="records"
    :frozen-col-count=calcFrozenColCount
    @changed-value="onValueChanged"
    @selected-cell="onCellSelected">
    <slot name="columns"></slot>
    <c-grid-column-group
      :caption="$t('crud.edit')">
      <c-grid-button-column
        :field="getPersistAction"
        :message="getPersistAction"
        width=100
        @click="onPersistRecord"
      >
        {{$t('crud.save')}}
      </c-grid-button-column>
      <c-grid-button-column
        :field="getRevertAction"
        :message="getRevertAction"
        width=100
        @click="onRevertRecord"
      >
        {{$t('crud.revert')}}
      </c-grid-button-column>
      <c-grid-button-column 
        :field="getDeleteAction"
        :message="getDeleteAction"
        width=100
        @click="onDeleteRecord"
      >
        {{$t('crud.delete')}}
      </c-grid-button-column>
    </c-grid-column-group>
    </c-grid>
  </div>
  <pagination ref="pagination" v-model="page" :records="dataArraySize" @paginate="doPaginate" 
    :per-page="perPage" :options="paginationOptions"/>
</div>
</template>

<script>
import Vue from 'vue'
import CGrid from 'vue-cheetah-grid'
import Pagination from 'vue-pagination-2'; //https://reposhub.com/vuejs/pagination/matfish2-vue-pagination-2.html

// vue2 only!
Vue.use(CGrid)

const LOADED = 'loaded'     // data from data source
const NEW = 'new'           // edited new data record
const CHANGED = 'changed'   // edited data source data 
const VOID = 'void'         // new void data record

export default { 
    name: "CRUDGrid",
    components: {
      Pagination
    },
    data: function () {
        return {
            selectedRec: this.initSelectedRec,
            records: this.dataArray,
            page: 1,
            perPage: this.itemsPerPage,
            paginationOptions: { 
              edgeNavigation: true,
              texts: {
                count: this.$t('pagination.count'),
                first: this.$t('pagination.first'),
                last: this.$t('pagination.last')
              }
            }
        }
    },
    props: {
      initSelectedRec: {
        type: Number,
        default: -1
      },
      frozenColCount: {
        type: Number,
        required: true
      },
      dataArray: {
        type: Array,
        default: function() {
          return [{}, {}, {}];
        }
      },
      itemsPerPage: {
        type: Number,
        default: 25
      }
    },
    computed: {
      calcFrozenColCount: function() {
        return this.frozenColCount + 3;
      },
      dataArraySize: function() {
        return this.records.length;
      }
    },
    mounted() {
      this.$watch(
        "$i18n.locale", (newLocale, oldLocale) => {
          if (newLocale !== oldLocale) {
            this.paginationOptions.texts.count = this.$t('pagination.count');
            this.paginationOptions.texts.first = this.$t('pagination.first');
            this.paginationOptions.texts.last = this.$t('pagination.last');
          }
        });
      this.records.forEach(elem => elem.status = LOADED);
      this.$refs.grid.invalidate();
    },
    methods: {
        doPaginate(param) {
          //const startIndex = this.perPage * (this.page - 1);
          //const endIndex = startIndex + this.perPage;
          //return this.records.slice(startIndex, endIndex);
          alert(JSON.stringify(param));
        },
        onPersistRecord(rec) { 
              switch(rec.status) {
                case VOID: alert(JSON.stringify(rec)); break;
                case NEW: alert('POST: ' + JSON.stringify(rec)); break;
                case LOADED: alert(JSON.stringify(rec)); break;
                case CHANGED: alert('PUT: ' + JSON.stringify(rec)); break;
              }},
        onRevertRecord(rec) { 
              switch(rec.status) {
                case VOID:
                case NEW: if (this.selectedRec > -1) this.records.splice(this.selectedRec, 1);  
                  break;
                case LOADED: alert(JSON.stringify(rec)); break;
                case CHANGED: alert('GET: ' + JSON.stringify(rec)); break;
              }},
        onDeleteRecord(rec) { 
              switch(rec.status) {
                case VOID:
                case NEW: alert(JSON.stringify(rec)); break;
                case LOADED:
                case CHANGED: alert('DELETE: ' + JSON.stringify(rec)); break;
              }},
        onAddRecord() { 
                this.records.splice(this.selectedRec + 1, 0, { 'status': VOID });
              },
        getPersistAction(rec) { 
              switch(rec.status) {
                case VOID: return '';
                case NEW: return this.$t('crud.add');
                case LOADED: return '';
                case CHANGED: return this.$t('crud.change');
              }},
        getRevertAction(rec) { 
              switch(rec.status) {
                case VOID:
                case NEW: return this.$t('crud.remove');
                case LOADED: return '';
                case CHANGED: return this.$t('crud.revert');
              }},
        getDeleteAction(rec) { 
              switch(rec.status) {
                case VOID: return '';
                case NEW: return '';
                case LOADED:
                case CHANGED: return this.$t('crud.delete');
              }},
        onValueChanged(param) { 
              switch(param.record.status) {
                case VOID: param.record.status = 'new'; break;
                case NEW: break;
                case LOADED: param.record.status = 'changed'; break;
                case CHANGED: break;
              }
              this.$refs.grid.invalidate();
              },
        onCellSelected(param) { if (param.selected) {
              if (param.row > 1) this.selectedRec = param.row - 2; 
              else this.selectedRec = -1; }}
    }
}
</script>

<style>
.crud-grid {
  height: 300px;
}
ul > li {
  display: inline-block;
  padding: 10px;
}
li.active {
  font-weight: bold;
}
li.disabled {
  color: grey
}
</style>