<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <p>
    Browser = {{ this.$i18n.locale }}
    <select v-model="$i18n.locale">
        <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">{{langNames[i]}}</option>
    </select>
    <PBAuth align='center' :displayMode=authDisplayMode ref="auth"/> <!-- anti pattern: don't use ref -->
    <TimeDisplay/>
    </p>     
    <button @click="bearerToken">Current Bearer Token</button>
    <button @click="tokenDetails">Current Token Details</button>    
    <div align='center'>
    <button @click="switchRooms">Switch Report Rooms</button>
    <PublicReport :type="'room'" :itemIds=itemIds />
    </div>
    <div id="reports"></div>
    <button @click="dynamicHelloI18n" :disabled=helloI18nDisabled>Copy HelloI18n</button>
    <div id="helloI18n"></div>
    <SimpleUserGrid align="left"/>
    <BarChart/>
    <LineChart v-if="lineChartEnabled"/>
    <p>root appkey: {{this.appkey}}</p>
    <p>Package Demos</p>
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <HelloI18n/>
    <Intercom v-bind:demo='true' jpeg='mjpeg2' />
    <AdminAsset/>
  </div>
</template>

<script>
import Vue from 'vue'
import HelloWorld from './components/HelloWorld.vue'
import HelloI18n from './components/HelloI18n.vue'
import BarChart from './components/poc/BarChart.vue'
import LineChart from './components/poc/LineChart.vue'
// components
import PublicReport from './components/widgets/PublicReport.vue'
import PBAuth from './components/security/PBAuth.vue'
import TimeDisplay from './components/widgets/TimeDisplay.vue'
import SimpleUserGrid from './components/widgets/SimpleUserGrid.vue'
//import Intercom from './components/widgets/Intercom.vue'
import AdminAsset from './components/widgets/AdminAsset.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    HelloI18n,
    PublicReport,
    BarChart,
    LineChart,
    PBAuth,
    TimeDisplay,
    SimpleUserGrid,
    //Intercom,
    AdminAsset
  },
  props: {
    appkey: String
  },
  data() {
    return { 
      langs: ['en', 'de'],
      langNames : ['English', 'Deutsch'],
      itemIds: ['1', '2'],
      helloI18nDisabled: false,
      lineChartEnabled: false,
      authDisplayMode: this.$store.state.pbapi.basicAuth ? 'page' : 'button'
    }
  },
  mounted() {
    this.$i18n.locale = navigator.language;
  },
  computed: {
    rootArgKey: function() {
      return this.$el;//.attributes.getNamedItem('key');
    }
  },
  methods: {
    switchRooms() {
      this.itemIds = ['3', '4']
    },
    dynamicHelloI18n() {
      const HelloCtor = Vue.extend(HelloI18n)
      new HelloCtor({el: '#helloI18n', i18n: this.$i18n})
      //const hello = new HelloCtor({i18n: this.$i18n}) // Alternative: Create unattached from the DOM
      //hello.$mount('#helloI18n')                      // manipulate the DOM in a seperate step
      this.helloI18nDisabled = true
    },
    bearerToken() {
      alert(this.$store.state.pbapi.keycloak.token)
      //alert(this.$refs.auth.bearerToken()); // anti pattern: don't call 'private' methods
    },
    tokenDetails() {
      alert(JSON.stringify(this.$store.state.pbapi.keycloak.tokenParsed))
      //alert(this.$refs.auth.tokenDetails()); // anti pattern: don't call 'private' methods
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
